{% extends "../base.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock css %}
{% block content %}
    {% if filterset %}
    <form action="" method="get" class="filterset_form">
        {{ filterset.form.as_p }}
        <input type="submit" />
    </form>
    {% endif %}
    {% if ticket_list %}
    <table class="table cell-border stripe hover" id="ticket_list">
        <thead>
            <th></th>
            <th>Заголовок</th>
            {% if 'creator' in column_list %}
            <th>От кого</th>
            {% endif %}
            <th>Дата создания</th>
            <th>Приоритет</th>
            <th>Срок</th>
            {% if 'status' in column_list %}
            <th>Статус</th>
            {% endif %}
            <th>Осталось</th>
            {% if 'executors' in column_list %}
            <th>Исполнители</th>
            {% endif %}
        </thead>
        <tbody>
            {% for ticket in ticket_list %}
            <tr data-description="{{ ticket.description }}">
                <td class="details-control"></td>
                <td><a href="{{  ticket.get_absolute_url }}">{{ ticket.title }}</a></td>
                {% if 'creator' in column_list %}
                <td>{{ ticket.creator }}</td>
                {% endif %}
                <td align="center">{{ ticket.date_create|date:"d.m.y" }}</td>
                <td class="{{ ticket.priority_css }}">{{ ticket.priority_text }}</td>
                <td class="{{ ticket.deadline_css }}">{{ ticket.verbose_deadline_status }}</td>
                {% if 'status' in column_list %}
                <td class="{{ ticket.status_css }}">{{ ticket.status_text }}</td>
                {% endif %}
                <td>{{ ticket.days_left }}</td>
                {% if 'executors' in column_list %}
                <td>{{ ticket.executor|default:"<b>Не заданы</b>" }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        Заявок пока нет
    {% endif %}
{% endblock content %}  
{% block js%}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    // ToDo форматирование можно улучшить
    function format_child_row(value) {
        return '<div><b>Описание проблемы:</b><br> ' + value + '</div>'
    }
    
    $.fn.dataTable.ext.type.order['priority-pre'] = function ( p ) {
        switch ( p ) {
            case 'Обычный':     return 1;
            case 'Средний':     return 2;
            case 'Высокий':     return 3;
            case 'Срочный':     return 4;
            case 'Критический': return 5;
        }
        return 0;
    };

    $.extend( $.fn.dataTable.ext.type.order, {
        "executors-asc": function (e1, e2) {
            noE1 = (e1 === 'Не заданы');
            noE2 = (e2 === 'Не заданы');
            if (noE1 || noE2) {
                return ((noE1 && noE2) ? 0 : noE1 ? -1 : 1)
            } else {
                return ((e1 < e2) ? -1 : ((e1 > e2) ? 1 : 0));
            }
        },
  
        "executors-desc": function (e1, e2) {
            noE1 = (e1 === 'Не заданы');
            noE2 = (e2 === 'Не заданы');
            if (noE1 || noE2) {
                return ((noE1 && noE2) ? 0 : noE1 ? 1 : -1)
            } else {
                return ((e1 < e2) ? 1 : ((e1 > e2) ? -1 : 0));
            }
        }
    } );

    var column_list = [
        'Noname',
        'title',
        {% if 'creator' in column_list %}
        'creator',
        {% endif %}
        'dateCreate',
        'priority',
        'deadline',
        {% if 'status' in column_list %}
        'status',
        {% endif %}
        'daysLeft',
        {% if 'executors' in column_list %}
        'executors',
        {% endif %}
    ];
    
   
    $(document).ready(() => {
        var table = $('#ticket_list').DataTable({
            'columns': [
                {name: 'Noname', width: '25px', searchable: false},
                {name: 'title', searchable: true, },
                {% if 'creator' in column_list %}
                {name: 'creator', searchable: false, },
                {% endif %}
                {name: 'dateCreate', searchable: false, },
                {name: 'priority', type:'priority', searchable: false, },
                {name: 'deadline', orderData: [column_list.indexOf('daysLeft')], searchable: false, },
                {% if 'status' in column_list %}
                {name: 'status', searchable: false},
                {% endif %}
                {name: 'daysLeft', searchable: false, visible: false},
                {% if 'executors' in column_list %}
                {name: 'executors', type: 'executors', searchable: false, },
                {% endif %}
            ],
            'lengthMenu': [ [25, 50, 100, -1], [25, 50, 100, 'Все'] ],
            'bInfo' : false,
            'language': {
                'paginate':{
                    'next': 'Вперёд',
                    'previous': 'Назад'
                },
                'sSearch': 'Поиск по названию',
                'lengthMenu': 'Показывать _MENU_ записей',
            }
        });

        $('#ticket_list').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);
            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('shown');
            } else {
                row.child(format_child_row(tr.data('description'))).show();
                tr.addClass('shown');
            }
        });
    })
</script>
{% endblock js%}
