{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ object.title }}</h1>
    <span>Статус: {{ object.status }}</span>
    <p>Создано {{ object.date_create|date:"d.m.Y H:i"}}</p>
    <h3>Описание</h3>
    <p>{{ object.description }}</p>
    {% if can_manage %}
        <h3>Управление</h3>
        {% if can_assign_executor %}
            {% crispy executor_assignment_form %}
        {% endif %}
        {% if can_delay %}
            {% crispy delay_form %}
        {% endif %}
        {% if can_deny %}
            {% crispy deny_form %}
        {% endif %}
        {% if can_refresh %}
            {% crispy refresh_form %}
        {% endif %}
        {% if can_set_complete %}
            {% crispy set_complete_form %}
        {% endif %}
    {% endif %}
{% endblock %}