{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Система заявок{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <header>
            <div id="system_title">
                <b>Система заявок</b>
            </div>
            <div id="username">
                {% if request.user.is_anonymous %}
                <a href="login/">Взойти</a>
                {% else %}
                <b>You are {{ request.user }}</b> <a href="/logout/">Выйти</a>
                {% endif %}
            </div>
        </header>
        <nav>
            <a href="/inbox/">Входящие</a>
            <a href="/outbox/">Исходящие</a>
            <a href="/supervision/">Руководитель</a>
            {% if request.user.is_staff %}
            <a href="/admin/">Администрирование</a>
            {% endif %}
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>