body{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 50px auto;
    font-family: Arial;
}

h1{
    color: #164676;
}

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #164676;
    color: #ffffff;
    grid-column-end: span 5;
}

header a{
    color: #fae013
}

#username{
    text-align: right;
    padding: 12px 20px 0px 0px;
}

#system_title{
    line-height: 50px;
    padding-left: 15px;
}

nav{
    background-color: #3f60a9;
    grid-column-end: span 5;
}

nav a {
    color: white;
    line-height: 50px;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

main{
    font-family: Arial;
    grid-column-end: span 5;
}

.alert{color:red}

.form-group{margin: 10px 0;}

.form-group input{width:250px;height: 25px;border-radius:3px;}

.highlight {
    color: #fae013;
    font-weight: bold;
}

/* 
    Быстрый костыль для Bootstrap - иначе высота инпута срезается
    https://github.com/twbs/bootstrap/issues/23307
*/
input[type="date"] {
	min-height: 2.5rem;
}

.ticket_status {font-weight: bold;}
.ticket_status_new {color: green}
.ticket_status_delayed {color: darkgrey}
.ticket_status_denied {color: red}
.ticket_status_in_work {color: orange}
.ticket_status_done {color: yellowgreen}
.ticket_status_complete {color: #3f60a9}

.ticket_priority {font-weight: bold;}
.ticket_priority_ordinary {color: darkgrey}
.ticket_priority_medium {color: yellowgreen}
.ticket_priority_high {color: orange}
.ticket_priority_urgent {color: red}
.ticket_priority_critical  {color: maroon}
